body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(119,9,121,1) 25%, rgba(255,211,0,1) 100%);
}

button {
    font-size: 2em;
    padding: 2.5em;
    margin: 30px;
}

#topnav {
    overflow: hidden;
}

#topnav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
#topnav li {
    float: right;
  }

#topnav a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.5em;
  }

.hvcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

/* Place the navbar at the bottom of the page, and make it stick */
#botnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
#botnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

